[submodule "pyben-nio"]
	path = pyben-nio
	url = https://github.com/ljishen/pyben-nio
[submodule "linux-perf"]
	path = linux-perf
	url = https://github.com/ljishen/linux-perf
[submodule "docker-vnc-ideaiu"]
	path = docker-vnc-ideaiu
	url = https://github.com/ljishen/docker-vnc-ideaiu
